@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto+Condensed&family=Roboto:wght@100&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto+Condensed&family=Roboto:wght@100&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Kanit:wght@100&family=Roboto+Condensed&family=Roboto:wght@100&family=Ubuntu:wght@300&display=swap');

* {
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: #f5d9d5;
}

#logo {
    font-family: 'Great Vibes', cursive;
    font-size: 24px;
}

#tableNo {
    display: none;
}

#heading-cursive {
    font-size: 24px;
    font-family: 'Great Vibes', cursive;
    ;
}

.carousel-inner {
    overflow-y: scroll;
}

.checked {
    color: orange;
}

.card-title {
    font-weight: bold;
}

.card{
    overflow-y: scroll;
    height: 150px;
}